// Calculates a = x * y
// a is a local variable
// x & y are static variables

// result = 0
push constant 0
pop local 0

// check if x < 0
push static 0
push constant 0
lt
if-goto XNEG

goto LOOP_SETUP

// if x is negative, negate x and y
label XNEG
push static 0
neg
pop static 0
push static 1
neg
pop static 1

label LOOP_SETUP
label LOOP
push static 0
push constant 0
eq
if-goto ENDLOOP

// a = a + y
push local 0
push static 1
add
pop local 0

// x = x - 1
push static 0
push constant 1
sub
pop static 0

goto LOOP

label ENDLOOP
push local 0
return
